<aside class="main_sidebar sidebar">
    <div class="sidebar__header">
        <img class="sidebar__image" src="../assets/images/sidebar/sidebar-header.jpg" alt="">
    </div>
    <div class="sidebar__content">
        <div class="sidebar__content-profile profile">
            <div class="profile__avatar">
                <img src="../assets/images/sidebar/avatar.jpg" alt="">
            </div>
            <div class="profile__name">Денис</div>
            <p class="profile__prof">блог front-end разработчика</p>
        </div>

        <div class="sidebar__content-social social">
            <ul class="social__list">
                <li class="social__item">
                    <a href="" class="social__link" target="_blank">
                        <img src="../assets/images/sidebar/instagram.svg" alt="instagram">
                    </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link" target="_blank">
                        <a href="" class="social__link" target="_blank">
                            <img src="../assets/images/sidebar/vk.svg" alt="instagram">
                        </a>
                </li>
                <li class="social__item">
                    <a href="" class="social__link" target="_blank">
                        <img src="../assets/images/sidebar/pinterest.svg" alt="instagram">
                    </a>
                </li>
            </ul>
        </div>

        <div class="sidebar__content-description">
            <p>Front-end разработчик. Практик верстки сайтов. Созданием сайтов занимаюсь с 2012 года. Работал в
                нескольких ИТ компаниях и наработал более 10 000 часов в создании сайтов различной сложности.</p>
        </div>
    
    </div> <!-- sidebar__content -->

    <div class="sidebar__footer">
        <a class="btn btn--red" href="#">Мои работы</a>
        <button class="btn btn--blue" type="button">Написать мне</button>
    </div>
</aside>